$basic-dark-grey: #1f1e25;
$basic-light-grey: #f6f7ff;
$mobile-menu-line: #c1c2ca;
$slider-text-light: #e0e1ea;
$slider-text-dark: #2b3c4f;
$slider-dots-blue: #2028b6;
$slider-dots-darken-grey: #e0e0e0;
$tab-grey-inactive: #4c4b51;
$grey-subtitle: #394959;
$grey-hint: #707c87;
$calculator-slider: #c1c2ca;
$special-dark-blue: #2c36f2;
$special-error: #e4a598;
$special-underline: #c4c4c4;

$mobile-min: 320px;
$tablet-min: 768px;
$desktop-min: 1024px;
$desktop-max: 1366px;
