$basic-dark-grey: #1f1e25;
$basic-light-grey: #f6f7ff;
$mobile-menu-line: #c1c2ca;
$slider-text-light: #e0e1ea;
$slider-text-dark: #2b3c4f;
$special-dark-blue: #2c36f2;

$mobile-min: 320px;
$tablet-min: 768px;
$desktop-min: 1024px;
$desktop-max: 1366px;
