@import '../../sass/variables.scss';

.message {
  width: 290px;
  min-height: 198px;
  background-color: $basic-light-grey;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);

  @media screen and (min-width: 768px) {
    width: 678px;
    min-height: 193px;
  }

  @media screen and (min-width: 1024px) {
    width: 500px;
    min-height: 193px;
  }
}

.message__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  width: 198px;
  margin: 10px auto 0;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 31px;
    margin-top: 30px;
    width: 366px;
  }
}

.message__message {
  color: $grey-subtitle;
  width: 238px;
  margin: 17px auto 0;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 293px;
    margin-top: 12px;
  }
}

.message__close-button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
  position: relative;
  top: 12px;
  left: 251px;

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
    left: 600px;
  }

  @media screen and (min-width: 1024px) {
    left: 450px;
  }
}
